# Ignore all
#*

# Unignore all with extensions
#!*.*

# Unignore all dirs
#!*/

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.exe`
#*.class
*.exe

# Ignore `cmd` dir
# or
# ui/public/themes/**
utils/*
media/*
files/*
content/*
database/db/*


# Unignore all `.exe` in `bin` dir
#!*/bin/*.exe
database/db/streamsphere.db
